.CreatePolls{
    
    width: 100vw;
    height: 100vh;
    font-family: helvetica;
    
}
.Sidebar{
  float: left;
  font-family:  Helvetica;
  height: 100%;
  width: 300px;
  display: display-inside;
 
  
  
   /* : flex-evenly; */
}
.PollType{
  position: relative;
  top:10%;
}

 li {
    list-style-type: none;
    padding-inline: 10px;
    
} 

#menu li {  /* button list custom styling*/
    float: left;
    
    position: relative;
    list-style: none;
    text-align: center;
    background-color:  #ffffff;
   
     line-height: 40px; 
  }
  #menu li a {
    color: #0000;
   
   text-justify: inter-word; 
    
  }
  
  #menu li:hover {
    text-decoration: none;
    color: #000;
     background-color: #e7e7e7;
     
  }
  #menu{
    
    width: 100%;
    height: 10%;
    position: relative;
    align-items: left;
    float:left;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    margin: 0%;
  }
.MuiButton-fullWidth{
  width: 28ch;
}

  
